extends ../_component/layout/base
block config
    -
        var title = 'Contact Quick Blog'
        var description = 'Contact me, the creator, Elena Tandara'
block content
    .content
        #continue
        h2 Contact Information
        p You can find me on those social media platforms:
        ul
            li
                a(title='Click to go to Facebook') Facebook
            li
                a(title='Click to go to LinkedIn') LinkedIn
            li
                a(title='Click to go to StackOverflow') StackOverflow
        hr
        figure.image-container
            img.image(src=`${baseUrl}/asset/image/cat.jpg`)
            figcaption.image-caption
                strong Note:
                span  Beautiful cat with green eyes