$theme: 'tiber';

$color-normal: #f1f1f1;
$color-darker: #000;

@if ($theme == 'big-stone') {
  $color-normal: #6ea0eb;
  $color-darker: #072f68;
}

@if ($theme == 'tiber') {
  $color-normal: #95A5A6;
  $color-darker: #0c3c3f;
}

@if ($theme == 'jacko-bean') {
  $color-normal: #f1d048;
  $color-darker: #a86d0d;
}

@if ($theme == 'timber-green') {
  $color-normal: #7ACDAF;
  $color-darker: #132924;
}

$color-buttercup: #f1c40f;
$color-golden-grass: #dd9a2d;
$color-white: #fff;
$color-mariner: #82939e;
