// quick css reset
html,
body {  
  height: 100%;
  font-family: 'Open Sans';
}

html {
  font-size: 16px;
}

@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

.welcome {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: (radial-gradient(
    ellipse, $color-normal, $color-darker
  ));

  h1 {
    color: $color-white;
    font-weight: bold;
    // font-size: 2rem;
  }

  .welcome__description {
    line-height: 1.5;
    padding: 0 0.5rem;
    font-size: 1.8rem;
    text-align: justify;
  }

  a.scroll-down {
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    margin: 1rem;
    color: $color-white;
    text-decoration: none;
    font-size: 1rem;
    border: 0.1rem solid $color-white;
    position: relative;
    background-color: $color-darker;
    padding-right: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 0.1rem solid $color-darker;
    }
  }
  .continue-arrow {
    margin: 0 0.2rem;
    &:after {
      content: '';
      position: absolute;
      // right: 0.3rem;
      // top: 1rem;
      display: block;
      width: 0px;
      height: 0px;
      border-top: 0.4rem solid $color-white;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
    }
  }
}


.top {
  display: block;
  text-align: right;
}

.top-arrow {
  margin: 0 0.2rem;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    // right: 0.3rem;
    top: 0.2rem;
    // display: block;
    width: 0px;
    height: 0px;
    border-bottom: 0.4rem solid $color-darker;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
  }
}

a {
  color: $color-darker;
}

p {
  line-height: 1.5;
}

ol {
  padding: 1rem 2rem;
   li {
     line-height: 1.3;
     margin-bottom: 1rem;
   }
}

.content {
  padding: 1.5rem;

  h2 {
    font-size: 2.5rem;
    color: $color-darker;
    font-weight: bold;
    padding: 1rem 0;
    line-height: 1.1;
    text-align: initial;
  }
  blockquote {
    border-left: 0.2rem solid $color-athens-gray;
    padding-left: 1rem;
    margin: 1rem 0;
  }
  .blockqoute-footer {
    margin: 0.5rem 0;
  }
}

// * {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   box-sizing: border-box;
// }