doctype html
html
    //- - var baseUrl = 'http://localhost:3002/'
    - var baseUrl = 'https://tandaraelena.github.io/quick-blog/'
    block config
    head
        title=title
        meta(name="description", content=description)
        link(rel="stylesheet", href=`${baseUrl}/style.css`)
        //- link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
    body
        include ../welcome/welcome
        .container-second
            block content
            include ../footer/footer