extends _component/layout/base
block config
    -
        var title = 'Contact Quick Blog'
        var description = 'Contact me, the creator, Elena Tandara'
block content
        h1=title
        p=description