extends _component/layout/base

block config
    -
        var title = 'Welcome to Quick Blog'
        var description = 'Using super Quick Blog is easy and you can get 100/100 score on Google pagespeed insights'
block content
    .welcome
        h1=title
        p.welcome__description=description
        a.scroll-down(href="#continue") 
            span Click to continue reading or scroll down
            span.continue-arrow
    .content
        #continue
        h2 Firstly, let's start with positive thoughts
        p
            | The sources of Quick Blog can be found on GitHub at&nbsp;
            //- or | #{" "}
            a(href="https://github.com/tandaraelena/quick-blog") Quick Blog
        blockquote.blockqoute
            .blockqoute__body
                p Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.
            .blockqoute-footer
                a(href="http://bitbee.uk", target="_blank") BitBee's website
        p.lead A good teacher can inspire hope, ignite the imagination, and instill a love of learning.
        p
            small Tell me and I forget. Teach me and I remember. Involve me and I learn.
        a.top(href="#top") 
            span Top
            span.top-arrow